* {
    box-sizing: border-box;
  }

body{
  background-color:rgb(127, 255, 212);
  background-image: url(https://png.pngtree.com/background/20210717/original/pngtree-abstract-background-pink-and-green-colours-picture-image_1443837.jpg);
  background-size: cover;
}


.container{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;

}


.grid-item{
  border: 1px solid black;
  width: 30px;
  height: 30px;
  
}

.new_items{
  border: 1px solid black;

}



   



    

