* {
    box-sizing: border-box;
  }

#myGrid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

  }


.grid-item{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  flex: 1 1 auto;
}




   



    

